<footer class="footer">
    <div class="footer__top">
        <div class="footer__container _container">
            <div class="footer__row">

                <div class="footer__column">
                    <div class="footer__label">Наши контакты</div>
                    <div class="footer__contacts contacts-footer">
                        <a href="https://yandex.ru/maps/org/kgbou_biyskiy_litsey_internat_altayskogo_kraya/1032008315/?ll=85.146967%2C52.491805&z=16.58" class="contacts-footer__item contacts-footer__item_map">659302, Алтайский край, г. Бийск, ул. Михаила Кутузова 9/3</a>
                        <a href="tel:73854312655" class="contacts-footer__item contacts-footer__item_phone">+7 (3854) 31–26–55</a>
                        <a href="info-biysk-liceum@22edu.ru" class="contacts-footer__item contacts-footer__item_email">info-biysk-liceum@22edu.ru</a>
                    </div>
                </div>
                <div class="footer__column">
                    <div class="footer__label">Разделы</div>
                    <div class="footer__menu menu-footer">
                        <ul class="menu-footer__list">
                            <li class="menu-footer__item"><a href="/schedule" class="menu-footer__link">Расписание</a></li>
                            <li class="menu-footer__item"><a href="/map" class="menu-footer__link">Карта Лицея</a></li>
                            <li class="menu-footer__item"><a href="/info" class="menu-footer__link">Информация о Лицее</a></li>
                            <li class="menu-footer__item"><a href="/help" class="menu-footer__link">Помощь</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer__column">
                    <div class="footer__label">Обратная связь</div>
                    <div class="footer__menu menu-footer">
                        <ul class="menu-footer__list">
                            <li class="menu-footer__item"><div class="menu-footer__text"> Беседа в Telegram, в которой можно задать вопросы и пообщаться с другими участниками проекта</div></li>
                            <li class="menu-footer__item"><a href="https://t.me/+kyNiYZw4t3U3NGMy" class="menu-footer__button">Задать вопросы</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__container _container">
            <div class="footer-white-line">
                <div class="footer__copy">КГБОУ «Бийский лицей-интернат Алтайского края»</div>
            </div>

        </div>
    </div>
</footer>