<div class="left-block-user__add-logpas-block add-logpas-block">
    <h2 class="add-logpas-block__title-add-logpas-block">Добавь свой пароль и логин</h2>
    <form class="add-logpas-block__add-logpas-inputs add-logpas-inputs" method="post">
        <div class="add-logpas-inputs__add-logpas-input add-logpas-input">
            <div class="add-logpas-input__text">Логин:</div>
            <input class="add-logpas-input__input" id="login" required>
        </div>
        <div class="add-logpas-inputs__add-logpas-input add-logpas-input">
            <div class="add-logpas-input__text">Пароль:</div>
            <input class="add-logpas-input__input" id="pass" required>
        </div>
        <input type="button" class="add-logpas-inputs__add-logpas-button" value="Сохранить">
    </form>
</div>