<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="only light">

    <link rel="stylesheet" href="css/style.css">

    <title>Помощь</title>
</head>
<body>
<div class="wrapper">
    <%- include partials/header-admin.ejs %>

    <main class="page">
        <div class="page__container _container">
            <div class="page__information-content information-content">
                <div class="inforamtion-content__information-choices information-choices">
                    <button class="information-choices__button-choice choice-active" id="choice-1"
                            onclick="changeText(1)">Общее
                    </button>
                    <button class="information-choices__button-choice" id="choice-2" onclick="changeText(2)">Расписание
                    </button>
                    <button class="information-choices__button-choice" id="choice-3" onclick="changeText(3)">События и
                        Уведомления
                    </button>
                    <button class="information-choices__button-choice" id="choice-5" onclick="changeText(4)">Список
                        пользователей
                    </button>
                    <button class="information-choices__button-choice" id="choice-6" onclick="changeText(5)">Учителя
                    </button>
                    <button class="information-choices__button-choice" id="choice-7" onclick="changeText(6)">Api и
                        Прочее
                    </button>
                </div>
                <div class="information-content__information-blocks information-blocks" id="information-blocks-1">
                    <div class="information-blocks__information-block information-block-full">

                        <h1 class="information-block__title-information title-information">Общие функции сайта</h1>
                        <h2 class="information-block__title-information title-information">Расписание</h2>
                        <div class="information-block__information-img-1 information-img-1">
                            <img src="img/help/timetable.png" alt="Расписание"
                                 class="_img-information" style="height: 500px;max-width:none">
                        </div>
                        <div class="information-block__information-text information-text">
                            Итак, вы зашли на страницу с расписанием. Слева - расписание звонков обычное и сокращенное
                            (субботнее). Справа - расписание предметов для каждого класса с 8 по 11 включительно. Если
                            вы не зашли в аккаунт, то увидите расписание для всех, если же вы зашли в аккаунт, то
                            увидите расписание своей параллели.
                        </div>
                    </div>
                    <div class="information-blocks__information-block information-block-full">
                        <h2 class="information-block__title-information title-information">Карта</h2>
                        <div class="information-block__information-text information-text">
                            <div class="information-text__information-img-2 information-img-2">
                                <img src="img/help/map.png" alt="карта"
                                     class="_img-information" style="height: 200px;max-width:none">
                            </div>
                            <div class="information-block__information-text information-text">
                                Если вы зашли на эту страницу, то либо вы новенький (добро пожаловать к нам в Лицей),
                                либо вам просто интересно, что это такое.<br>
                                Итак, картой пользоваться легко, как вы видите, вы можете увеличивать ее и отдалять,
                                также можете перетаскивать ее.
                                У нас есть интерактивные кнопки, которые отвечают за этажи. Как вы могли заметить, есть
                                помещения, которые никак не обозначены - это служебные помещения, туда ученикам заходить
                                просто так не стоит).

                            </div>
                        </div>
                    </div>
                    <div class="information-blocks__information-block information-block-full">
                        <h2 class="information-block__title-information title-information">Блок “Добавить логин и
                            пароль”</h2>
                        <div class="information-block__information-text information-text">
                            <div class="information-text__information-img-2 information-img-2">
                                <img src="img/help/addLogPass.png" alt="добавить логин и пароль"
                                     class="_img-information" style="height: 200px;max-width:none">
                            </div>
                            <div class="information-block__information-text information-text">У вас есть возможность
                                “Добавить логин и пароль”.
                                Если вы захотите задать логин и пароль, просто запишите их и нажмите “Сохранить”, блок
                                сам автоматически удалиться и при дальнейших заходах вы его не увидите. Если же вы
                                захотите поменять логин и пароль, попросите об этом админа, и у вас появиться вновь
                                данный блок, и вы сможете задать новые логин и пароль.

                            </div>
                        </div>
                    </div>
                    <div class="information-blocks__information-block information-block-full">
                        <h2 class="information-block__title-information title-information">Возможные ошибки</h2>
                        <div class="information-block__information-text information-text">
                            К сожалению, бывает так, что что-то ломается или недоступно, тогда у вас появляется страница
                            с ошибкой, зачастую там будет написано, что вы сделали не так.
                            Однако, если вы видите, что поля подчеркиваются красным, а вы не можете зайти, это не
                            ошибка, проверьте, что вы не ошибаетесь и ввели свои данные правильно!

                            Если вы увидели 500 ошибку, то обратитесь к нам за помощью, мы постараемся вам помочь,
                            просто нажмите на кнопку и перейдите в телеграмм, там вам помогут. Если найдете какой-либо
                            баг, тоже будем рады, если сообщите.<br><br>
                            На этом все, удачного пользования.

                        </div>
                    </div>
                </div>
                <div class="information-content__information-blocks information-blocks" id="information-blocks-2">
                    <div class="information-blocks__information-block information-block-full">
                        <h2 class="information-block__title-information title-information">Расписание</h2>
                        <div class="information-block__information-text information-text">
                            <div class="information-text__information-img-2 information-img-2">
                                <img src="" alt="страничка расписания" class="_img-information"
                                     style="height: 200px;max-width:none">
                            </div>

                            Итак, расписание. Переходя на данную вкладку вы попадаете в максимально упрощенный на
                            мой взгляд редактор расписания для классов (ну разве что мысли не читает xD).
                            Что касается расписания звонков, скажу сразу, менять только в файле
                            "timetable-usual.ejs" (меняет расписание звонков в будни), "timetable-saturday.ejs"
                            (меняет расписание звонков в сокращенные дни то бишь в субботу). При изменении
                            расписания автоматически подставятся везде, где необходимо.
                        </div>
                    </div>
                    <div class="information-blocks__information-block information-block-full">
                        <div class="information-block__information-text information-text">
                            <h2 class="information-block__title-information title-information">Кнопки:</h2>

                            <h3 class="information-block__title-information title-information">Селектор класса</h3>
                            Просто выбираете класс и загружается расписание выбранного класса
                            <div class="information-text__information-img-2 information-img-2">
                                <img src="" alt="селектор" class="_img-information"
                                     style="height: 200px;max-width:none">
                            </div>
                            В самом расписании находятся тоже селекторы, так что вы можете нажать и выбрать предмет из
                            списка, так он заменится на выбранный вами автоматически после выбора.

                            <h3 class="information-block__title-information title-information">Добавить предмет</h3>
                            Это модальное окно для добавления/удаления предмета. Зачем же это? чтобы подставлять
                            предметы в расписание.
                            <div class="information-text__information-img-2 information-img-2">
                                <img src="" alt="модалка для предметов" class="_img-information"
                                     style="height: 200px;max-width:none">
                            </div>

                            <h3 class="information-block__title-information title-information">Добавить класс</h3>
                            Модальное окно для добавления/удаления класса. Вы пишете букву класса и через "_" указываете
                            букву в любом регистре. Ограничений на добавление классов нет. При удалении класса, вместе с
                            ним удаляется расписание, ученики, уведомления и дз.
                            <div class="information-text__information-img-2 information-img-2">
                                <img src="" alt="модалка для классов" class="_img-information"
                                     style="height: 200px;max-width:none">
                            </div>


                        </div>
                    </div>
                </div>
                <div class="information-content__information-blocks information-blocks" id="information-blocks-3">
                    <div class="information-blocks__information-block information-block-full">
                        <h2 class="information-block__title-information title-information">События и Уведомления</h2>
                        <div class="information-block__information-text information-text">
                            <h2 class="information-block__title-information title-information">События</h2>
                            <div class="information-text__information-img-2 information-img-2">
                                <img src="" alt="События"
                                     class="_img-information"
                                     style="height: 250px;max-width:none">
                            </div>
                            <div class="information-block__information-text information-text">
                                В целом, события создаются как у всех модераторов и более детальную информацию вы можете
                                изучить в помощи для всех.
                            </div>
                        </div>
                    </div>
                    <div class="information-blocks__information-block information-block-full">
                        <h3 class="information-block__title-information title-information">Уведомления</h3>
                        <div class="information-text__information-img-2 information-img-2">
                            <img src="" alt="Уведомления"
                                 class="_img-information"
                                 style="height: 250px;max-width:none">
                        </div>
                        <div class="information-block__information-text information-text">
                            Уведомления также, создаются как у модераторов и про это вы тоже можете почитать в
                            помощи
                            для всех. Однако есть одна особенность, данное уведомление отображается у всех классов.
                        </div>

                    </div>
                </div>
                <div class="information-blocks__information-block information-block-full">
                    <h2 class="information-block__title-information title-information">Модальное окно “Создать
                        уведомление”</h2>
                    <div class="information-block__information-text information-text">
                        <div class="information-text__information-img-2 information-img-2">
                            <img src="img/help/notice.png" alt="добавление уведомления"
                                 class="_img-information"
                                 style="height: 200px;max-width:none">
                        </div>
                        <div class="information-block__information-text information-text">Вы решили создать
                            уведомление, что это такое и с чем это едят?<br>
                            Уведомление это какое-то сообщение только для своего класса, которое существует ровно
                            сутки, не больше не меньше. Вы можете добавлять уведомления сколько угодно, главное,
                            чтобы они были осмысленными.
                            Если вы напортачили или просто хотите удалить уведомление(свое конечно же), то попросите
                            админа об этом.
                            Если поле окрашивается в красный цвет(по контуру), то значит вы не заполнили данное
                            поле.
                        </div>
                    </div>
                </div>
                <div class="information-blocks__information-block information-block-full">
                    <h2 class="information-block__title-information title-information">Модальное окно “Создать
                        событие”</h2>
                    <div class="information-block__information-text information-text">
                        <div class="information-text__information-img-2 information-img-2">
                            <img src="img/help/event.png" alt="добавление события"
                                 class="_img-information"
                                 style="height: 200px;max-width:none">
                        </div>
                        <div class="information-block__information-text information-text">Вы решили создать
                            событие, давайте рассмотрим как это делать.
                            <br>
                            У вас есть три поля:
                            <ol class="information-text__information-list information-list">
                                <li class="information-list__quest">
                                    “Место проведения” - место, где будет проходить мероприятие/событие.
                                </li>
                                <li class="information-list__quest">
                                    “Дата проведения” - когда будет проходить данное мероприятие/событие.
                                </li>
                                <li class="information-list__quest">
                                    “Событие” - описание самого события.
                                </li>
                                <li class="information-list__quest">
                                    Если вы пользовались netschool, то считайте это аналогом объявлений.
                                </li>
                                <li class="information-list__quest">
                                    Если какое-либо из полей окрашивается в красный цвет(по контуру), то значит
                                    вы не заполнили данное поле.
                                </li>
                                <li class="information-list__quest">
                                    Если вы ошиблись или просто хотите удалить событие, написанное вами, то
                                    попросите админа удалить событие.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="information-content__information-blocks information-blocks" id="information-blocks-4">
                <div class="information-blocks__information-block information-block-full">
                    <div class="information-block__information-text information-text">
                        <ol class="information-text__information-list information-list">
                            <li class="information-list__quest">1. Как люди становятся модератором и как я могу им
                                стать?
                            </li>
                            <p class="information-list__answer">- Статус модератора можно попросить у админа, вам
                                дадут возможность побыть админом временно. Если вы будете хорошо выполнять свои
                                обязанности, то вам оставят статус модератора. </p>

                            <li class="information-list__quest">2. Что будет с модератором, если он превышает свои
                                обязанности?
                            </li>
                            <p class="information-list__answer">- Мы просто заберем статус модератора у этого
                                человека.</p>

                            <li class="information-list__quest">3. А если у нашего класса нет модератора, что
                                тогда?
                            </li>
                            <p class="information-list__answer">- Все будет работать и без модерирования, однако у
                                вас не будет уведомлений.</p>

                            <li class="information-list__quest">4. Сколько в классе может быть модераторов?</li>
                            <p class="information-list__answer">- Сколько угодно.</p>

                            <li class="information-list__quest">5. Почему я пытаюсь добавить файл, а он не
                                добавляется?
                            </li>
                            <p class="information-list__answer">- Вероятно ваш файл имеет расширение, которое не
                                поддерживает наш сайт или вы добавлете больше 3 файлов (некоторые исполняемые файлы,
                                такие как ".py" или ".js", не могут быть добавлены из-за ограничения
                                инструментов).</p>

                            <li class="information-list__quest">6. Почему задание с файлом, которое я добавил, не
                                отображается?
                            </li>
                            <p class="information-list__answer">- Потому что вам нужно, чтобы задание сначала
                                проверил модератор. Это сделано для того, чтобы минимизировать распространение
                                "плохих".</p>

                            <li class="information-list__quest">7. Мы не несем ответственности за скаченные файлы с
                                нашего сайта. Если файл имеет странное, необычное, некорректное содержание или
                                является вредоносным, просим сообщить об этом администратору, он сможет сказать, кто
                                отправил данный файл.
                            </li>
                        </ol>

                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <%- include partials/footer-login.ejs %>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="js/script.js"></script>
</body>

</html>