<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <meta name="color-scheme" content="only light">

    <title>Информация о Лицее</title>
</head>
<body>
<div class="wrapper">

    <% if (header === 'user') { %>
        <%- include partials/header-user.ejs %>
    <% } else if (header === 'header'){ %>
        <%- include partials/header.ejs %>
    <% } %>

    <main class="page">
        <div class="page__container _container">
            <div class="page__information-content information-content">
                <h1 class="information-content__title-info title-info">Краткая информация о Лицее
                </h1>
                <div class="information-content__information-blocks information-blocks">
                    <div class="information-blocks__information-block information-block">
                        <div class="information-block__information-img-1 information-img-1">
                            <img src="img/info/Director.png" alt="Директор Бийского лицея - Полежаева Нина Васильевна"
                                 class="_img-information">
                        </div>

                        <div class="information-block__information-text information-text"><strong>Директор Бийского
                                лицея</strong> - Полежаева Нина Васильевна. Работает в лицее с 1 Февраля 2011 года.
                        </div>
                    </div>
                    <div class="information-blocks__information-block information-block">

                        <div class="information-block__information-text information-text">
                            <div class="information-text__information-img-2 information-img-2">
                                <img src="img/info/School.png" alt="Бийский лицей" class="_img-information">
                            </div>
                            <strong>Бийский лицей </strong>- это не просто школа, а настоящая платформа для развития
                            навыков и талантов ваших детей. В лицее работают одни из лучших преподователей Алтайского
                            края и России. Само заведение оснащено новейшими способами обучения детей. А так же входит в
                            огромное колличество номинаций, например как “Топ 200” лучших школ России, обеспечивающих
                            развитие талантов учащихся.
                        </div>
                    </div>
                    <div class="information-blocks__information-block information-block">
                        <h2 class="information-block__title-information title-information">Совет лицеистов</h2>
                        <div class="information-block__information-text information-text">Одни из самых важных
                            участников нашего лицея. Это наши главные организаторы праздников и кружков, а также просто
                            трудолюбивые и умные ученики. Благодаря им у нас отличные праздники и множество мероприятий.
                            Вступить в совет лицеистов может каждый, но нужно быть одним из лучших учеников нашей школы.
                        </div>
                    </div>
                    <div class="information-blocks__information-block information-block">
                        <h2 class="information-block__title-information title-information">О кружках</h2>
                        <div class="information-block__information-text information-text">В нашей школе есть множество
                            кружков и различных секций, в которые вы можете вступить. Здесь представлены как спортивные,
                            так и художественные кружки, где вы сможете освоить различные навыки.
                        </div>
                    </div>
                    <div class="information-blocks__information-block information-block">
                        <h2 class="information-block__title-information title-information">О нашем проекте</h2>
                        <div class="information-block__information-text information-text">Наш проект специализируется на
                            помощи новичкам в лицее, но у нас также есть функции, которые помогут и людям, уже
                            освоившимся в лицее. Например, у нас есть карта, которая поможет новичкам разобраться в
                            лицейской местности, а также удобное расписание для учеников. Мы также предоставляем раздел
                            с домашними заданиями, которые выставляют ученики и старосты. Для удобства учеников мы
                            постараемся сделать наш сайт самым удобным.
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <% if (header === 'user') { %>
            <%- include partials/footer-login.ejs %>
        <% } else if (header === 'header'){ %>
            <%- include partials/footer.ejs %>
        <% } %>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="js/script.js"></script>
</body>

</html>