<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="only light">

    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/favicon/Icon.svg">
    <title>Админка</title>
</head>
<body>
<div class="wrapper">

    <%- include partials/header-admin.ejs %>






    <main class="page">
        <div class="page__container _container">
            <div class="page__main-block-admin main-block-admin">
                <div class="main-block-admin__left-block-admin left-block-admin">
                    <div class="left-block-admin__function-block-admin function-block-admin">
                        <button class="function-block-admin__button-timetable-admin button-timetable-admin _admin-button">Расписание</button>
                        <button class="function-block-admin__button-event-admin button-event-admin _admin-button">Лицейские события</button>
                        <button class="function-block-admin__button-notice-admin button-notice-admin _admin-button">Уведомления</button>
                        <button class="function-block-admin__button-list-user-admin button-list-user-admin _admin-button" id="users_list_button">Список пользователей</button>

                        <button class="function-block-admin__button-teachers-admin button-teachers-admin _admin-button">Учителя</button>
                    </div>
                </div>

                <div class="main-block-admin__right-block-admin right-block-admin">

                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="js/admin-script.js"></script>
</body>

</html>

