<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <meta name="color-scheme" content="only light">

    <title>Расписание</title>
</head>
<body>
<div class="wrapper">

    <% if (header === 'user') { %>
        <%- include partials/header-user.ejs %>
    <% } else if (header === 'header'){ %>
        <%- include partials/header.ejs %>
    <% } %>

    <main class="page">
        <div class="page__container _container">
            <div class="page__main-block main-block">
                <div class="main-block__timetable-function timetable-function">
                    <div class="timetable-function__button-timetable button-timetable">
                        <button class="button-timetable__left active-button">Обычное</button>
                        <button class="button-timetable__right nonactive-button">Сокращенное</button>
                    </div>
                    <div class="timetabel-function__timetable-blocks titmetable-blocks">
                        <div class="titmetable-blocks__timetable-block timetable-block usual">
                            <h2 class="timetable-block__title schedule_edition_usual">Расписание звонков</h2>
                            <% include partials/timetable-usual.ejs %>
                        </div>
                        <div class="titmetable-blocks__timetable-block timetable-block anusual">
                            <h2 class="timetable-block__title schedule_edition_anusual">Расписание звонков</h2>
                            <table class="timetable-block__table table">
                                <tbody>
                                <tr class="table__line line">
                                    <td class="line__column-1">1.</td>
                                    <td class="line__column-2">08:00 - 08:35</td>
                                </tr>
                                <tr class="table__line line">
                                    <td class="line__column-1">2.</td>
                                    <td class="line__column-2">08:45 - 09:20</td>
                                </tr>
                                <tr class="table__line line">
                                    <td class="line__column-1">3.</td>
                                    <td class="line__column-2">09:35 - 10:10</td>
                                </tr>
                                <tr class="table__line line">
                                    <td class="line__column-1">4.</td>
                                    <td class="line__column-2">10:25 - 11:00</td>
                                </tr>
                                <tr class="table__line line">
                                    <td class="line__column-1">5.</td>
                                    <td class="line__column-2">11:15 - 11:50</td>
                                </tr>
                                <tr class="table__line line">
                                    <td class="line__column-1">6.</td>
                                    <td class="line__column-2">12:00 - 12:35</td>
                                </tr>
                                <tr class="table__line line">
                                    <td class="line__column-1">7.</td>
                                    <td class="line__column-2">13:00 - 13:35</td>
                                </tr>
                                <tr class="table__line line">
                                    <td class="line__column-1">8.</td>
                                    <td class="line__column-2">13:50 - 14:25</td>
                                </tr>
                                <tr class="table__line line">
                                    <td class="line__column-1">9.</td>
                                    <td class="line__column-2">14:40 - 15:15</td>
                                </tr>
                                <tr class="table__line line">
                                    <td class="line__column-1">10.</td>
                                    <td class="line__column-2">15:25 - 16:00</td>
                                </tr>
                                <tr class="table__line line">
                                    <td class="line__column-1">11.</td>
                                    <td class="line__column-2">16:10 - 16:45</td>
                                </tr>
                                <tr class="table__line line">
                                    <td class="line__column-1">12.</td>
                                    <td class="line__column-2">16:55 - 17:30</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="main-block__schedule-function schedule-function">
                    <select class="schedule-function__select-schedule select-schedule">
                    </select>
                    <div class="schedule-function__schedule-tables schedule-tables">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <% if (header === 'user') { %>
            <%- include partials/footer-login.ejs %>
        <% } else if (header === 'header'){ %>
            <%- include partials/footer.ejs %>
        <% } %>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="js/script.js"></script>
<script src="js/schedule.js"></script>

</body>

</html>